[Desktop Entry]
Name=Openfortivpn Launcher
Exec=sh -c "bash $HOME/Proyectos/openfortivpn-launcher/main.sh;$SHELL"
Icon=network-vpn
Type=Application
Terminal=true
Categories=Utility;